body {
  min-height: 100vh;
  background: linear-gradient(180deg, #2b0e10 0%, #07080d 100%) fixed;
  cursor: none;
}

/* Обёртка курсора */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 1000;
}

/* Анимация свечения курсора */
#cursor svg {
  filter: drop-shadow(0 0 5px #6ef0fd) drop-shadow(0 0 15px #6ef0fd);
  transition: transform 0.1s ease-out;
}
